<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tool="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.btranz.ecommerceapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name="com.btranz.ecommerceapp.utils.AppData"
        android:allowBackup="true"
        android:icon="@mipmap/logo_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name="com.btranz.ecommerceapp.activity.MainActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.btranz.ecommerceapp.activity.SecondActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.btranz.ecommerceapp.activity.CredientialActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.btranz.ecommerceapp.activity.BookNowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.btranz.ecommerceapp.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme"
            android:label="@string/app_name" />
    </application>

</manifest>